/*start at line 450*/
/* Google Font Import - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    /* ===== Colors ===== */
    --body-color: #0d1117;
    --body-color2: #3a3b3c;
    --sidebar-color: #161b22;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
    --same-color: #fff;
    --opposite-color: #fff;
    --opposite-color2: #3a3b3c;
    --opposite-color3: #fff;
    --opposite-color4: #9f5cfe;
    --light-grey: #3f3f3f40;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection {
    background-color: var(--primary-color);
    color: #fff;
}

body.dark {
    --body-color: #e4e9f7;
    --body-color2: #fff;
    --sidebar-color: #fff;
    --primary-color: #9f5cfe;;
    --primary-color-light: #f6f5ff;
    --toggle-color: #ddd;
    --text-color: #707070;
    --same-color: #fff;
    --opposite-color: #3a3b3c;
    --opposite-color2: #fff;
    --opposite-color3: #9f5cfe;;
    --opposite-color4: #fff;
}

/* ===== Sidebar ===== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 224px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 1;
    padding-right: 3px;
    border: 1px solid #363636;
    border-radius: 10px;
}

.sidebar.close {
    width: 65px;
    padding-right: 4px;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
    color: var(--text-color);
    transition: var(--tran-03);
    padding-right: 8px;
}

.sidebar .text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text {
    opacity: 0;
}

/* =========================== */

.sidebar header {
    position: relative;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
    background: var(--primary-color-light);
    margin-left: -14px;
    padding-left: 13px;
    margin-top: -12px;
    padding-top: 11px;
    margin-right: -4px;
    border-radius: 0 10px 0 0;
    padding-bottom: 10px;
    z-index: -1;
}

.sidebar header .logo-text {
    display: flex;
    flex-direction: column;
}

header .image-text .name {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession {
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img {
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 2px;
    border-radius: 10px;
    margin-left: -22px;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
    color: #fff;
}

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
    margin-top: 0px;
}

.sidebar li.search-box {
    border-radius: 6px;
    background-color: var(--primary-color);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box ::placeholder,
.sidebar li.search-box i {
    color: var(--same-color);
}

.sidebar li.search-box:is(:hover,:active) {
    opacity: 70%;
    transition: all 0.3s ease;
    border: 2px solid white;
    border-radius: 8px;
}

.sidebar li.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color);
    color: var(--same-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}

.sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
    background: var(--light-grey);
}

.cart {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
    background: orange;
    color: white;
}

.cart .icon, .cart .nav-text {
    color: white;
}

.items {
    color: cyan;
    background: green;
    border: 2px solid;
    border-radius: 100px;
    width: 20px;
    height: 20px;
    font-size: 13px;
    text-align: center;
    position: relative;
    top: 28px;
    left: -1px;
    margin-top: -20px;
}

.sidebar li a:hover {
    background-color: var(--opposite-color3);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--opposite-color2);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--opposite-color2);
}

.sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.menu-bar {
    padding: 2px;
    margin-left: -10px;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.sidebar .menu-bar .mode {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
    height: 50px;
    width: 60px;
}

.mode .sun-moon i {
    position: absolute;
}

.mode .sun-moon i.sun {
    opacity: 0;
}

body.dark .mode .sun-moon i.sun {
    opacity: 1;
}

body.dark .mode .sun-moon i.moon {
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--opposite-color);
    transition: var(--tran-05);
    margin-left: 6px;
}

.switch::before {
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--opposite-color2);
    transition: var(--tran-04);
}

body.dark .switch::before {
    left: 20px;
}

.home {
    z-index: -2;
    position: fixed;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background: none;
    transition: var(--tran-05);
}

.home .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 15px 40px;
}

.sidebar.close ~ .home {
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}

body.dark .home .text {
    color: var(--text-color);
}

/* t1 */
.socials i {
    color: var(--opposite-color);
    border: 1px solid;
    border-radius: 100px;
    font-size: 20px;
    padding: 9px;
    margin: 3px;
    margin-left: 6px;
}

.socials i:hover {
    border: 1px solid;
    border-radius: 100px;
    font-size: 20px;
    padding: 9px;
    margin: 3px;
    margin-left: 6px;
    background-color: var(--opposite-color3);
    color: var(--body-color);
    transition: all 0.3s;
}

.alternate-body {
    z-index: 0;
    margin-left: 65px;
    margin-top: 0px;
    color: var(--text-color);
    overflow: hidden;
    height: 100%;
}

.bg {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url("http://assets.iceable.com/img/noise-transparent.png") repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation 0.2s infinite;
    opacity: 0.9;
    visibility: visible;
    z-index: -1;
}

@keyframes bg-animation {
    0% {
        transform: translate(0, 0);
    }
    10% {
        transform: translate(-5%, -5%);
    }
    20% {
        transform: translate(-10%, 5%);
    }
    30% {
        transform: translate(5%, -10%);
    }
    40% {
        transform: translate(-5%, 15%);
    }
    50% {
        transform: translate(-10%, 5%);
    }
    60% {
        transform: translate(15%, 0);
    }
    70% {
        transform: translate(0, 10%);
    }
    80% {
        transform: translate(-15%, 0);
    }
    90% {
        transform: translate(10%, 5%);
    }
    100% {
        transform: translate(5%, 0);
    }
}


table {
    border: 1px solid #b3adad;
    border-collapse: collapse;
    padding: 5px;
}

table th {
    border: 1px solid #b3adad;
    padding: 5px;
    background: #505050;
    color: #ffffff;
}

table td {
    border: 1px solid #b3adad;
    text-align: left;
    padding: 5px;
    background: #505050FF;
    color: #ffffff;
}

.item {
    background-color: var(--opposite-color2);
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 5px;
    padding: 10px;

    margin-left: 15px;
    width: 320px;
    margin-bottom: 20px;
}

.item-list {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -20px;
}

.item a {
    text-decoration: none;
    color: var(--opposite-color);
}

.item img {
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 450px;
    border-radius: 5px;
    border: none;
    margin-top: 0px;
    margin-bottom: 10px;
}

.item button {
    padding: 3px;
}

.item a .headings {
    text-decoration: none;
    color: var(--body-color2);
    background: var(--text-color);
    border: 1px solid #b3adad;
    border-radius: 5px;
    text-align: center;
    margin-top: -1px;
    font-size: 24px;
    line-height: 1.2;
    min-height: 48px; /* 2 lines at 24px font size */
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item a {
    text-decoration: none;
}

.item #cast {
    max-height: 1.2em; /* set the maximum height to one line */
    overflow: hidden; /* hide any extra content beyond the maximum height */
    text-overflow: ellipsis; /* add the ellipsis at the end */
    white-space: nowrap; /* prevent the text from wrapping to the next line */
}

.item #description {
    max-height: 57.6px; /* set the maximum height to three lines */
    min-height: 57.6px; /* set the minimum height to three lines */
    overflow: hidden; /* hide any extra content beyond the maximum height */
    text-overflow: ellipsis; /* add the ellipsis at the end */
    white-space: normal; /* allow the text to wrap to the next line */
    line-height: 1.2; /* set the line height of the text */
    margin-bottom: 10px; /* add a gap between the description and the rest of the content */
}

.item form {
    float: right;
}

.item form button {
    color: var(--body-color2);
    background: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 5px;
    padding: 4px;
}

button {
    cursor: pointer;
}

iframe {
    border: 2px solid;
    float: left;
}

.search img {

    width: 300px;
    height: auto;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.movie-table {
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;

}

.empty {
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: var(--text-color);
    margin-top: 18%;
    margin-bottom: 18%;
}

.item-scroll {
    height: 505px;
    overflow-y: scroll;
    margin-bottom: -35px;

}

.item-scroll::-webkit-scrollbar {
    width: 5px;

}

.item-scroll::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.item-scroll::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 20px;
}

.cart-remove {
    border: none;
    background: #d02323;
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
}

.scheme {
    color: var(--opposite-color);
}

.total {
    color: var(--opposite-color);
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}

.check-out {
    width: 100%;
    padding-bottom: 20px;
}

.check-out-btn {
    float: right;
    margin-right: 0;
    margin-top: 10px;
    padding: 5px 10px 5px 10px;
    background: #22882a;
    color: #ffffff;
    border: none;
    border-radius: 10px;

}

.todo .content {
    margin: 10px;
}