:root {
    --poppins: 'Poppins', sans-serif;
    --lato: 'Lato', sans-serif;

    --light: #F9F9F9;
    --blue: #3C91E6;
    --light-blue: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #342E37;
    --red: #DB504A;
    --yellow: #FFCE26;
    --light-yellow: #FFF2C6;
    --orange: #FD7238;
    --light-orange: #FFE0D3;
}

main .box-info li:nth-child(1) .bx {
    background: var(--light-blue);
    color: var(--blue);
}

main .box-info li:nth-child(2) .bx {
    background: var(--light-yellow);
    color: var(--yellow);
}

main .box-info li:nth-child(3) .bx {
    background: var(--light-orange);
    color: var(--orange);
}

.container-search {
    margin: 24px;
}

.container-results {
    margin-top: 20px;
    padding: 24px;
    background: var(--body-color2);
    border-radius: 20px;
}

.container-results .head {
    margin-top: -5px;
    text-align: center;
    color: var(--text-color);
}

.container-results .separator {
    margin-top: 20px;
    height: 1px;
    width: 100%;
    background: var(--text-color);
}

.item {
    margin-top: 30px;
}

.delete, .update {
    cursor: pointer;
    color: white;
    text-align: center;
    margin-top: 10px;
    padding: 5px 10px 5px 10px;
    border: none;
    border-radius: 10px;
}

.delete {
    background: var(--red);
}

.delete:hover {
    background: #782724;
}

.update {
    margin-right: 10px;
    background: var(--blue);
}

.update:hover {
    background: #273e84;
}

.owned, .in-cart {
    width: 100%;
    color: white;
    background: green;
    text-align: center;
    margin-top: 10px;
    padding: 2px;
    border: 2px solid var(--text-color);
    border-radius: 5px;
}

.in-cart {
    background: orange;
}

.item h2 {
    height: 65px;
    align-items: center;
    text-align: center;
}

.box-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 24px;
    margin-top: 36px;
}

.box-info li {
    padding: 24px;
    background: var(--body-color2);
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
}

.box-info li .bx {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-info li:nth-child(1) .bx {
    background: var(--light-blue);
    color: var(--blue);
}

.box-info li:nth-child(2) .bx {
    background: var(--light-yellow);
    color: var(--yellow);
}

.box-info li:nth-child(3) .bx {
    background: var(--light-orange);
    color: var(--orange);
}

.box-info li .text h3 {
    font-size: 24px;
    font-weight: 600;
    color: var(--opposite-color);
}

.box-info li .text p {
    color: var(--opposite-color);
}