{% extends 'base.html' %}
{% block head %}
    <title>Cart</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    <style>
        main .table-data .todo {
            flex-grow: 1;
            flex-basis: 50px;
            height: 640px;
            color: var(--opposite-color);
        }

        main .table-data .order {
            flex-grow: 1;
            flex-basis: 60%;
            color: var(--opposite-color);
        }

        .separator {
            margin-top: 10px;
            margin-bottom: 10px;
            height: 1px;
            width: 100%;
            background: var(--text-color);
        }

        .todo .content {
            overflow-y: scroll;
            height: 400px;
            margin-top: 5px;
            margin-right: -15px;
            text-align: left;
        }

        .content::-webkit-scrollbar {
            width: 5px;

        }

        .content::-webkit-scrollbar-track {
            background-color: #f1f1f1;
        }

        .content::-webkit-scrollbar-thumb {
            background-color: #888;
            border-radius: 20px;
        }
    </style>
{% endblock %}
{% block content %}
    <main>
        <div class="head-title">
            <div class="left">
                <h1>Cart</h1>
                <ul class="breadcrumb">
                    <li>
                        <a href="{{ url_for('index') }}">Home</a>
                    </li>
                    <li><i class='bx bx-chevron-right'></i></li>
                    <li>
                        <a class="active" href="{{ url_for('cart') }}">Cart</a>
                    </li>
                </ul>
            </div>
        </div>

        <ul class="box-info">
            <li>
                <i class='bx bxs-store'></i>
                <span class="text">
                <h3>{{ item_count }}</h3>
                <p>Movies Available</p>
            </span>
            </li>
            <li>
                <i class='bx bxs-box'></i>
                <span class="text">
                <h3>{{ owned }}</h3>
                <p>Movies Owned</p>
            </span>
            </li>
            <li>
                <i class='bx bxs-dollar-circle'></i>
                <span class="text">
                <h3> {% if not spend %} 0 {% else %}Ksh {{ spend }} {% endif %}</h3>
                <p>Total Spent</p>
            </span>
            </li>
        </ul>


        <div class="table-data">
            <div class="order">
                <div class="head">
                    <h3>Your Cart</h3>
                </div>
                <p class="separator"></p>

                {% if items %}
                    <div class="item-scroll">
                        <table>
                            <tbody>
                            <thead>
                            <tr>
                                <th>Poster</th>
                                <th>Movie Name</th>
                                <th>Description</th>
                                <th>Trailer</th>
                                <th>Price</th>
                                <th>Remove</th>
                            </tr>
                            </thead>
                            {% for item in items %}
                                {% set item_id = item[0] %}
                                <tr>
                                    <td>
                                        <img src="{{ item[2] }}" alt="poster" style="width: 80px; height: 100px">
                                    </td>
                                    <td>
                                        <a href="{{ url_for('item', item_id=item[0]) }}"><p
                                                class="scheme">{{ item[1] }}</p></a>
                                    </td>
                                    <td>
                                        <p>{{ item[3] }}</p>
                                    </td>
                                    <td>
                                        <a href="{{ item[5] }}" target="_blank"><img
                                                src="https://www.freepnglogos.com/uploads/youtube-logo-hd-8.png" alt=""></a>
                                    </td>
                                    <td>
                                        <p class="scheme">{{ item[4] }} Ksh</p>
                                    </td>
                                    <td>
                                        <form method="POST" action="{{ url_for('remove_from_cart', item_id=item_id) }}">
                                            <button type="submit" class="cart-remove">Remove</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    </div>

                    <br>
                {% else %}
                    <p class="empty">Your cart is empty.</p>
                {% endif %}
            </div>
            <div class="todo">
                <div class="head">
                    <h3>Summary</h3>
                </div>
                <div class="content">


                    {% if items %}
                        <p class="separator"></p>
                        <table>
                            <thead>
                            <tr>
                                <th class="scheme">Movie Name</th>
                                <th class="scheme">Price</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in items %}
                                <tr>
                                    <td>
                                        <p class="scheme">{{ item[1] }}</p>
                                    </td>
                                    <td>
                                        <p class="scheme">{{ item[4] }}</p>
                                    </td>
                                </tr>
                            {% endfor %}


                            </tbody>
                        </table>

                    {% endif %}
                </div>
            <p class="separator"></p>
                    <p class="total">Total</p>
                    <p class="total"> {{ total }} Ksh</p>
            <p class="separator"></p>
                <form method="POST" action="{{ url_for('complete_checkout') }}" style="margin: 0 auto" class="check-out">
                    <button type="submit" class="check-out-btn"> Checkout</button>
                </form>

            </div>
        </div>
    </main>

{% endblock %}
