{% extends 'base.html' %}
{% block head %}
    <title>Change Password</title>
    <style>
        .alternate-body {
            display: grid;
            place-items: center;
        }

        .change {
            display: grid;
            place-items: center;
            margin-top: 50px;
            border: 2px solid var(--opposite-color);
            border-radius: 5px;
            padding: 20px 20px 40px 20px;
            background-color: var(--body-color);
            color: var(--opposite-color);
            margin-top: 10%;

        }

        .change h1 {
            margin-bottom: 20px;
        }

        .change p {
            margin-top: 30px;
        }

        .change-card {
            border: 2px solid var(--opposite-color);
            border-radius: 5px;
            width: fit-content;
            padding: 20px;
            text-align: right;
            align-items: center;
        }

        .change-card input {
            margin-bottom: 20px;
        }

        .change button {
            padding: 5px;
            border-radius: 10px;
        }

        .flashes {
            position: absolute;
            top: 0;
            align-items: center;
            text-align: center;
            background: #ccc;
            border: 2px solid;
            border-radius: 5px;
            padding: 5px;
        }
    </style>
{% endblock %}
{% block content %}
    {% if message %}
        <p style="color: red;">{{ message }}</p>
    {% endif %}
    <div class="change">
        <h1>Change Password</h1>
        <div class="change-card">
            <form method="post">
                <label for="username">Username:</label>
                <input type="text" name="username" required><br>

                <label for="email">Email:</label>
                <input type="email" name="email" required><br>

                <label for="password1">New Password:</label>
                <input type="password" name="password1" required><br>

                <label for="password2">Confirm New Password:</label>
                <input type="password" name="password2" required><br>

                <input type="submit" value="Change password">
            </form>
        </div>
        <p>Want to sign up? <a href="{{ url_for('signup') }}">
            <button>Sign up</button>
        </a></p>
        <p>Want to log in? <a href="{{ url_for('login') }}">
            <button>Log in</button>
        </a></p>
    </div>
{% endblock %}
