{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
    <title>Search Results for "{{ search_term }}"</title>
    <style>
    .item-scroll{
            height: 640px;
            display: flex;
            flex-flow: wrap;
        margin-top: 25px;
            margin-right: 5px;
            margin-left: 0px;
        }
        .item-scroll::-webkit-scrollbar {
            width: 4px;

        }

        .item-scroll::-webkit-scrollbar-track {
            background-color: #f1f1f1;
        }

        .item-scroll::-webkit-scrollbar-thumb {
            background-color: #888;
            border-radius: 20px;
        }
        main .table-data .head {
            margin-bottom: 15px;
        }
        .container-results{
            height: 745px;
            overflow: hidden;
            margin-bottom: -10px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container-search">
        <div>
            <ul class="box-info">
                <li>
                    <i class='bx bxs-store'></i>
                    <span class="text">
                <h3>{{ item_count }}</h3>
                <p>Movies in stock</p>
            </span>
                </li>
                <li>
                    <i class='bx bxs-box'></i>
                    <span class="text">
                <h3>{{ owned }}</h3>
                <p>Movies Owned</p>
            </span>
                </li>
                <li>
                    <i class='bx bxs-dollar-circle'></i>
                    <span class="text">
                <h3> {% if not spend %} 0 {% else %}Ksh {{ spend }} {% endif %}</h3>
                <p>Total Spent</p>
            </span>
                </li>
            </ul>
        </div>
        <div class="container-results">
            <h2 class="head">Search Results for "{{ search_term }}"</h2>
            <p class="separator"></p>

            {% if movies %}
                <div class="item-list">
                <div class="item-scroll">
                    {% for movie in movies %}
                        <div class="item">
                            <a href="{{ url_for('item', item_id=movie['item_id']) }}">
                            <img src="{{ movie['poster'] }}" alt="{{ movie['moviename'] }} poster">
                            <p id="description">{{ movie['description'] }}</p>
                            <p id="cast"><strong> Cast</strong>: {{ movie['cast_names'] }}</p>
                            <p><strong> Price</strong>: {{ movie['price'] }} Ksh</p>
                            </a>

                            {% if session['admin'] %}
                                <form action="{{ url_for('item_delete', item_id=movie[0]) }}" method="post">
                                    <input class="delete" type="submit" value="Delete">
                                </form>
                                <form action="{{ url_for('item_edit', item_id=movie[0]) }}" method="get">
                                    <input class="update" type="submit" value="Edit">
                                </form>

                            {% else %}

                                {% if movie['item_id'] in cart_items %}
                                    <p class="in-cart">In Cart</p>

                                {% elif movie['item_id'] in purchased_items %}
                                    <p class="owned">Owned</p>
                                {% else %}
                                    <form action="{{ url_for('add_to_cart') }}" method="POST">
                                        <input type="hidden" name="item_id" value="{{ movie['item_id'] }}">
                                        <button type="submit">Add to Cart</button>
                                    </form>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                </div>
            {% else %}
                <p class="empty">No movies found.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
